@page
@model ConfirmRegisterModel

@{
    ViewData["Title"] = "Thanks for Registering!";
}
<h1>@ViewData["Title"]</h1>
<p>
    To login, please check your inbox(or spam) for a confirmation email then contact with your administrator to activate your account.
</p>